.event-personal {
    background-color: rgba(225, 140, 209, 0.762);
}

.event-family {
    background-color: rgba(110, 137, 255, 0.575);
}

.event-birthdays {
    background-color: rgba(49, 139, 37, 0.485);
}

.event-events {
    background-color: rgba(244, 186, 38, 0.557);
}

.event-work {
    background-color: rgba(255, 88, 88, 0.593);
}