.event-personal {
    background-color: rgb(225, 140, 209);
}

.event-family {
    background-color: rgb(44, 68, 174);
}

.event-birthdays {
    background-color: rgb(49, 139, 37);
}

.event-events {
    background-color: rgb(244, 186, 38);
}

.event-work {
    background-color: rgb(217, 30, 30);
}