.event-personal {
    background-color: rgb(225, 140, 209);
}

.event-family {
    background-color: rgba(110, 137, 255, 0.575);
}

.event-birthdays {
    background-color: rgb(49, 139, 37);
}

.event-events {
    background-color: rgb(244, 186, 38);
}

.event-work {
    background-color: rgba(255, 88, 88, 0.593);
}